<p id="notice"><%= notice %></p>

<h1>Click on a Questionnaire to fill</h1>
<div class="cardView">
  <% @questionnaires.each do |questionnaire| %>
    <div>
      <h3><%= questionnaire.name %></h3>
      <%= link_to "", new_submission_path(:questionnaire_id => questionnaire.id), class: "hiddenLink" %>
    </div>
  <% end %>
</div>